input {
    display:inline-block;
    max-width:4rem;
    margin:0px;
}

p {
    display:inline-block;
    margin:0px;
}

h1 {
    margin:0px;
}

#submit {
    display:flex;
    max-width:100%;
    margin: auto auto;
}

.form-div {
    width:fit-content;
    margin:auto auto;
    background-color: lightgrey;
    justify-content: center;
    padding:1rem
}
.task {
    width:fit-content;
    margin:auto auto;
}

marquee {
    font-weight:bold;
    display:block;
    width:fit-content;
    margin:auto auto;
    justify-content: center;
    padding:0;
}

#number1, #number2, #operand, #equals, #answer {
    padding: 0rem 0.25rem;
}