table {
    border-style:solid;
    border-color:black;
    border-width:1px;
    table-layout: fixed;
}

img {
    height:15rem;
    aspect-ratio: 1/1;
}

th {
    font-weight: bold;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 0rem 0.5rem;
}

td {
    padding:0rem 1rem;
    text-align:center;
}

tr:nth-child(even) {
    background-color:black;
    color:white;
}