#table1 {
    display:flex;
    justify-content: center;
    align-items: center;
}

th {
    background-color: green;
    color:white;
    padding-left:0.3rem;
    padding-right:0.3rem;
}

th, td {
  border-bottom: 1px solid black;
  padding-left:0.3rem;
  padding-right:0.3rem;
}

tr:nth-child(even) {
  background-color: lightgrey;
}

table {
    border-bottom: 1px solid black;
}

tr:hover {
    background-color: grey; 
    color:white;
}