table {
    border-style:solid;
    border-color:black;
    border-width:1px;
    table-layout: fixed;
    width: 100%;
}

img {
    height:15rem;
    aspect-ratio: 1/1;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding:1rem;
    text-align:center;
}