body {
  background-color: #00f;
}

h1, p, a{
    color: #fff;
}

a {
    
}

h1 {
    padding:5px;
}

p {
    border-style: solid;
    border-color: #000;
    border-width: 0.1rem;
    padding:10px
}